/* https://colorhunt.co/palette/eff5f5d6e4e5497174eb6440 */
/* img:hover
img:hover{
  background-color: gold;
 }
*/

  /********** TAG SELECTORS ************/
body {
margin: 0;
font-family: 'Merriweather',verdana, sans-serif;
}


  hr {
    border-color: grey;
    border-width: 7px;
    border-style: none;
    border-top-style: dotted;
    width: 7%;
  }
 
  h1 {
    color: #112D4E;
    margin-top: 0px;
    text-align: center;
    font-size: 370%;
  }
  h2, h3, h4 {
    color: #112D4E;
    margin-top: 0px;
    text-align: center;
  }
 


  /********** CLASS SELECTORS ************/
 
  .top-container {
  background-color:   #D6E4E5;

  position: relative; 
  text-align: center;
  }
  .init {
    height: 380px;
    padding: 10px;
  }
  .development{
    height: 200px; 
    }
 
  .middle-container{
  
    position: relative; 
    background-color: #EFF5F5;
    margin-top: 0px;
    padding: 10px;
  }
  .profile {
    text-align: center;
    padding: 0px;
    text-align: justify;
  }
  .eduardProfile {
    padding: 20px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .skills{
    padding: 20px;

  }


    .software {
      padding: 20px;
      height: 100px;
    }
    .skill-tester {
      text-align: center;
      
    }
    
    .center {
      margin-left: auto;
      margin-right: auto;
      height: 30px;
    }

    .icon-skill{
    height: 35px;
    }
    .jira{
      height: 60px;
      }
  